@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  font-family: "Space Mono", monospace;
  @apply flex items-center justify-center min-h-screen;
  background-color: hsl(185, 41%, 84%);
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
